.container{
  margin-top: 6%;
  color: whitesmoke;
  padding: 2%;
  background-color: rgba(0,0,0,0.7);
  border-radius: 3%;
}

.row {
  margin-bottom: 5%;
}

h1{
  display: block;
  margin: auto;
  font-size: 3.5rem;
}

img {
  height: 30%;
  width: 100%;
}

.title{
  margin-left: 2%;
  display: inline;
  font-size: 45px;
}

.text{
  font-size: 25px;
}

.def {
  padding: 2%;
}
