<div class="container">
  <div class="row align-items-center">
    <h1>About the Project</h1>
  </div>
  <div class="row align-items-center">
    <div class="col" >
      <img src="../../assets/images/soumya.jpeg" alt="image for contact us" >
    </div>
    <div class="col aboutus">
      <div class="def">
        <i class="fas fa-book fa-3x"></i>
        <p class="title">Create</p><br>
        <p class="text"> As a registered user, you can add your own recipe index and share it with the world!</p>
      </div>
      <div class="def">
        <i class="fas fa-search fa-3x"></i>
        <p class="title">Discover</p><br>
        <p class="text">Search our collection of recipes in ways you'd never have dreamed was possible</p>
      </div>
      <div class="def">
        <i class="far fa-building fa-3x "></i>
        <p class="title">Find Restaurants</p><br>
        <p class="text">Let us help you to find near by Restaurants</p>
      </div>
    </div>
  </div>
  <div class="row align-items-center name">
    <h4>Developer: Soumya Cherukupalli</h4>
  </div>
</div>
