<div class="container-fluid steps-container">

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Enter the step" [(ngModel)]="value" [formControl]="formControl"
              [errorStateMatcher]="matcher" required></textarea>
    <mat-error *ngIf="formControl.hasError('required')">
      Please Enter Step
    </mat-error>
  </mat-form-field>

  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>

  <i class="far fa-trash-alt fa-2x" (click)="onDelete($event)"></i>
</div>
