.login-block {
	background: rgb(79, 146, 137);
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, rgb(140, 255, 240), rgb(79, 146, 137));
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, rgb(140, 255, 240), rgb(79, 146, 137));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-sec {
	padding: 50px 30px;
	position: relative;
}

.login-sec h2 {
	margin-bottom: 30px;
	font-weight: 800;
	font-size: 30px;
	color: rgb(79, 146, 137);
}

.login-sec h2:after {
	content: " ";
	width: 100px;
	height: 5px;
	background: rgb(140, 255, 240);
	display: block;
	margin-top: 20px;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto
}

.btn-login {
	background: rgb(79, 146, 137);
	color: #fff;
    font-weight: 600;
    margin: 10px 0;
}