<i class="fas fa-angle-left fa-4x" (click)="backBtn()"></i>
<div class="container-fluid">
    <app-banner [recipe]="recipe"></app-banner>
</div>
<div class="container details">
    <div class="row">
        <div class="col-sm-5">
            <h3>{{recipe.title | uppercase}}</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Ingredients</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of recipe.ingredients">
                        <td><strong>{{data.amount}} </strong>{{data.name}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="find">
              <span> Can't cook at the moment? <br /></span>
              <span>Find similar items at nearby restaurants.<br /></span>
              <button mat-raised-button (click)="getRestaurantList(recipe.category)">View Restaurants</button>
            </div>
        </div>
        <div class="col-sm-7 instruction">
            <div class="col-sm-12">
                <h3>Instructions</h3>
                <div class="row">
                    <div class="col-sm-12 recipeImage">
                        <img class="img-responsive" [attr.src]="recipe.image"  alt="imageofRecipe"/>
                    </div>
                    <div class="row">
                        <div *ngIf="recipe.steps.length > 0">
                            <div class="col-sm-12" *ngFor="let step of recipe.steps; let i = index">
                                <p><strong>Step {{i+1}}</strong>{{step.steps}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row description">
        <i class="fas fa-user-circle fa-3x"></i>
        <p class="position">Author: {{recipe.author}}</p>
    </div>
</div>
<div class="container-fluid commentsSection">
    <app-comment-details [recipe]="recipe"></app-comment-details>
</div>
