
<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <div class="card">
        <img src="../../assets/images/create.jpeg" class="card-img-top" alt="image for create">
        <div class="card-body text-center">
          <a class="card-link" (click)="CreateRecipe()">Create</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/images/search.jpg" class="card-img-top" alt="image for search">
        <div class="card-body text-center">
          <a class="card-link" (click)="SearchRecipe()">Search</a>
        </div>
      </div>
    </div>
  </div>
</div>
