@import "../../scss/variables.scss";

.container, .row{
  height: 100%;
  padding: 10px 0;
}

img{
  height: 550px;
}

.card-body{
  background-color: rgba(	1, 4, 25,0.5);
  a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
    cursor: pointer;
  }
}
