<!--&lt;!&ndash; <div class="col-sm-4">-->
<!--</div> &ndash;&gt;-->
<!--<div class="row">-->
<!--    <div class="container col-sm-12 form-div">-->
<!--        <form (submit)="onComment(commentForm, currentRate)" #commentForm="ngForm" class="form-horizontal" method="post"-->
<!--            name="recipeForm">-->
<!--            <div class="input-group mb-3 col-sm-6 username">-->
<!--                <div class="input-group-prepend">-->
<!--                    <span class="input-group-text" id="basic-addon1">@</span>-->
<!--                </div>-->
<!--                <input type="text" class="form-control" placeholder="Username" aria-label="Username"-->
<!--                    aria-describedby="basic-addon1" ngModel name="userName" required>-->
<!--            </div>-->
<!--            <div class="input-group mb-3 col-sm-6 username">-->
<!--                <div class="input-group-prepend">-->
<!--                    <span class="input-group-text" id="basic-addon1">EmailID</span>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <input type="email" class="form-control" id="contactEmail" ngModel name="userEmailId" required>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="input-group mb-3 col-sm-8 username">-->
<!--                <div class="input-group-prepend">-->
<!--                    <span class="input-group-text" id="basic-addon1">Comment</span>-->
<!--                </div>-->
<!--                <textarea class="form-control" rows="5" id="comment"-->
<!--                    placeholder="Your comments are valuable... Please leave your footprints behind!" ngModel-->
<!--                    name="comments" required></textarea>-->
<!--            </div>-->
<!--            <div class="rating">-->
<!--                <hr>-->
<!--                <span class="rate">-->
<!--                    Rate Me-->
<!--                </span>-->
<!--                <ngb-rating class="rating" [(rate)]="currentRate"></ngb-rating>-->
<!--                <hr>-->
<!--                <pre class="rate">Rate: <b>{{currentRate}}</b></pre>-->
<!--                <input type="submit" value="Submit" class="btn btn-outline-dark submit">-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
