<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="card-deck mb-4 text-center">-->
<!--            <div class="col-sm-3 restaurants" *ngFor="let best of bestRatedRestaurants">-->
<!--                <div class="card-header">-->
<!--                    <h5 class="my-0 font-weight-normal">{{best.restaurant.name}}</h5>-->
<!--                </div>-->
<!--                <div class="card-body" *ngIf="!best.restaurant.flipped">-->
<!--                    <img src={{best.restaurant.featured_image}} class="img-thumbnail">-->
<!--                    &lt;!&ndash; <button type="button" class="btn btn-lg btn-block btn-outline-primary"-->
<!--                        (click)="flip(best.restaurant)">Know-->
<!--                        More</button> &ndash;&gt;-->
<!--                </div>-->
<!--                <div class="card-body" *ngIf="best.restaurant.flipped">-->
<!--                    <h2 class="card-title pricing-card-title">-->
<!--                        {{best.restaurant.currency}}{{best.restaurant.average_cost_for_two}}-->
<!--                        <small class="text-muted">/ 2 people</small>-->
<!--                    </h2>-->
<!--                    <ul class="list-unstyled mt-3 mb-4">-->
<!--                        <li>Serves: {{best.restaurant.cuisines}}</li>-->
<!--                        <li>Average user rating: {{best.restaurant.user_rating.aggregate_rating}}</li>-->
<!--                        &lt;!&ndash; <li *ngIf="best.restaurant.has_online_delivery === 1">Online delivery available</li>-->
<!--                                        <li *ngIf="best.restaurant.is_table_reservation_supported === 1">Table reservation available</li> &ndash;&gt;-->
<!--                        <li>Location: {{best.restaurant.location.address}}</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="card-footer" *ngIf="best.restaurant.flipped">-->
<!--                    <button type="button" class="btn btn-lg btn-block btn-outline-dark"-->
<!--                        (click)="flip(best.restaurant)">Back</button>-->
<!--                </div>-->
<!--                <div class="card-footer" *ngIf="!best.restaurant.flipped">-->
<!--                     <button type="button" class="btn btn-lg btn-block btn-outline-dark"-->
<!--                        (click)="flip(best.restaurant)">Know-->
<!--                        More</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->
