<!--    <div class="main-login">-->
<!--    <section class="login-block">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-4 login-sec">-->
<!--                        <h2 class="text-center">Login Now</h2>-->
<!--                        <div class="login-div">-->
<!--                            <form class="login-form" [formGroup]="user" (ngSubmit)="onUserLogin()">-->
<!--                                <div class="error-message">-->
<!--                                  <span>Username or password wrong. Try again</span>-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <label for="username" class="text-uppercase">Username</label>-->
<!--                                    <input type="email" class="form-control" placeholder="" name="username" id="username" formControlName="username" value="{{username}}" required>-->
<!--    -->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <label for="password" class="text-uppercase">Password</label>-->
<!--                                    <input type="password" class="form-control" placeholder="" id="password" name="password" formControlName="password" value="{{password}}" required>-->
<!--                                </div>-->
<!--                                <div *ngIf="user.controls['username'].invalid && (user.controls['username'].dirty || user.controls['username'].touched)" class="alert alert-danger">-->
<!--                                    <div *ngIf="user.controls['username'].errors.required">-->
<!--                                    Username is required.-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-check">-->
<!--                                    <label class="form-check-label">-->
<!--                                    <input type="checkbox" id="checkBox" class="form-check-input">-->
<!--                                    <small>Remember Me</small>-->
<!--                                    </label>-->
<!--                                </div>-->
<!--                                <button type="submit" [disabled]="!user.valid" class="btn btn-login">Submit</button>-->
<!--                                <button type="button" class="btn btn-login float-right" (click)="openRegister()">Register Now</button>-->

<!--                            </form>-->
<!--                        </div>-->
<!--                        <div class="col-md-8 other-sec">-->
<!--                            &lt;!&ndash; <button type="button" class="btn btn-forgotpass float-left" (click)="handleForgotPass()">Forgot Password</button> &ndash;&gt;-->
<!--                        </div> -->
<!--                        <div class="clearfix"></div>   -->
<!--                    </div>-->
<!--                    <div class="col-md-8 banner-sec">-->
<!--                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">-->
<!--                            <ol class="carousel-indicators">-->
<!--                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>-->
<!--                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>-->
<!--                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
<!--                            </ol>-->
<!--                            <div class="carousel-inner" role="listbox">-->
<!--                                <div class="carousel-item active">-->
<!--                                    <img class="d-block img-fluid" src="../../assets/images/login1.jpg" alt="First slide">-->
<!--                                    <div class="carousel-caption d-none d-md-block">-->
<!--                                        &lt;!&ndash; <div class="banner-text">-->
<!--                                            <h2>This is First Slide</h2>-->
<!--                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>-->
<!--                                        </div>	 &ndash;&gt;-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="carousel-item">-->
<!--                                    <img class="d-block img-fluid" src="../../assets/images/login2.jpg" alt="Second slide">-->
<!--                                    <div class="carousel-caption d-none d-md-block">-->
<!--                                        &lt;!&ndash; <div class="banner-text">-->
<!--                                            <h2>This is Second Slide</h2>-->
<!--                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>-->
<!--                                        </div>	 &ndash;&gt;-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="carousel-item">-->
<!--                                    <img class="d-block img-fluid" src="../../assets/images/login3.jpg" alt="Third slide">-->
<!--                                    <div class="carousel-caption d-none d-md-block">-->
<!--                                        &lt;!&ndash; <div class="banner-text">-->
<!--                                            <h2>This is Heaven</h2>-->
<!--                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>-->
<!--                                        </div>	 &ndash;&gt;-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--    </section>-->
<!--</div>-->
