<!--<div class="sidebar">-->
<!--    <div id="myscrl" class="sidebar-menu">-->
<!--            <h3 class="menuheader"><a (click)="homePage()"><i class="fas fa-home fa-lg"></i><b>Home</b></a></h3>-->
<!--            <h3 class="menuheader"><a (click)="contactPage()"><i class="fas fa-address-card fa-lg"></i><b>About Us</b></a></h3>-->
<!--            &lt;!&ndash; <h3 class="menuheader"><a href=""><i class="fas fa-tty fa-lg"></i><b>Contact Us</b></a></h3> &ndash;&gt;-->
<!--            <h3 class="menuheader"><a (click)="search()"><i class="fas fa-search fa-lg"></i><b>Search</b></a></h3>        -->
<!--    </div>-->
<!--</div>-->
