<div class="bannerAdd img-responsive">
  <div class="container">
    <div class="recipe-type">
      <div class="row">
        <div class=col-sm-2>
          <i class="fas fa-list fa-lg"></i>
        </div>
        <div class="col-sm-8">
          <b>CATEGORY</b> <br />
          {{recipe.category}}
        </div>
      </div>
      <div class="row">
        <div class=col-sm-2>
          <i class="fas fa-fire fa-lg"></i>
        </div>
        <div class="col-sm-8">
          <b>CALORIES</b> <br />
          {{recipe.calories}}
        </div>
      </div>
      <div class="row">
        <div class=col-sm-2>
          <i class="fas fa-stopwatch fa-lg"></i>
        </div>
        <div class="col-sm-8">
          <b>TIME</b> <br />
          {{recipe.time}}
        </div>
      </div>
    </div>
  </div>
</div>
