h1 {
  text-align: center;
  padding: 1%;
}

select,input {
  display: inline-block;
  width: 80%;
  padding: 1%;
  border-radius: 5px;
  border: none;
  outline:none;
}

label{
  display: inline-block;
  width: 20%;
  font-size: 20px;
}

button {
  padding: 1%;
  width: 120px;
  border-radius: 10px;
  font-size: 19px;
}

.container {
  margin-top: 2%;
  background-color: whitesmoke;
  padding:3%;
  border-radius: 3%;
}

